TF_VAR_AWS_KEY=[YOUR_KEY]
TF_VAR_AWS_SECRET=[YOUR_SECRET]
TF_VAR_AWS_REGION=[DESIRED_REGION]
TF_VAR_AWS_AVAILABILITY_ZONE=[DESIRED_AZ]
TF_VAR_VPC_ID=[YOUR_VPC_ID]
TF_VAR_SSH_PRIVATE_KEY=[PATH_TO_YOUR_PRIVATE_KEY]
TF_VAR_SSH_PUBLIC_KEY=[PATH_TO_YOUR_PUBLIC_KEY]
