# Graylog vars
GRAYLOG_PASSWORD_SECRET=abc1234
GRAYLOG_ROOT_PASSWORD_SHA2=66e8331c36223fdsaea04548a7f28a94b8a3f354bee4659813fac345331624ab9865
GRAYLOG_WEB_ENDPOINT_URI=http://127.0.0.1:80/api

# Email configuration
GRAYLOG_TRANSPORT_EMAIL_ENABLED=true
GRAYLOG_TRANSPORT_EMAIL_HOSTNAME=smtp.gmail.com
GRAYLOG_TRANSPORT_EMAIL_PORT=465
GRAYLOG_TRANSPORT_EMAIL_USE_AUTH=true
GRAYLOG_TRANSPORT_EMAIL_USE_SSL=true

# Input configuration
GRAYLOG_CONTENT_PACKS_AUTO_LOAD=default-global-input.json
GRAYLOG_CONTENT_PACKS_LOADER_ENABLED=true
GRAYLOG_CONTENT_PACKS_DIR=data/contentpacks